/* Component overrides for Data table
   ========================================================================== */

.mandataris-data-table .data-table__actions--top {
  display: none;
}

.mandataris-data-table > .container-flex--scroll {
  display: block;
}

table.data-table thead {
  color: #212121;
}

.data-table tbody tr[data-table-selectable],
.scheduler-option__info table tbody tr[data-table-selectable],
.scheduler-slot__text__info table tbody tr[data-table-selectable],
.typography table tbody tr[data-table-selectable] {
    cursor: auto;
}

/* small hack for data tables in mandatendatabank */

thead {
  border-top: none;
}

/* Active tab */
.tab .tab__link.active {
  color: #333;
  border-bottom: none;
  background-color: transparent;
}

/* ==========================================================================
  links in data-table
 ========================================================================== */

 // remove when webuniversum is updated

.data-table tbody a {
  color: $primary-blue;
  text-decoration: underline;
}

.data-table tbody a:focus,
.data-table tbody a:hover {
  color: $primary-blue;
  text-decoration: none;
}
