{{page-title "" this.model.gebruikteVoornaam "" " " "" this.model.achternaam "" prepend=true}}
<WithRdfaContext @tagName="div" @model={{this.model}} as |ctx|>
  <div data-tabs-responsive-label="Navigatie">
    <div class="au-o-region-small au-u-background-gray-100">
      <div class="au-o-box">
        <AuLink @route="index" class="au-u-margin-bottom">
          <AuIcon @icon="nav-left" @alignment="left" />
          Terug naar zoeken
        </AuLink>
        <AuHeading @level="1" @skin="2" class="au-u-margin-bottom-small">
          Mandataris: <ctx.get @prop="gebruikteVoornaam"/> <ctx.get @prop="achternaam"/>
        </AuHeading>

        <ul class="au-c-list-horizontal au-u-margin-bottom-small">
          {{#if this.model.alternatieveNaam}}
            <li class="au-c-list-horizontal__item">Roepnaam: <ctx.get @prop="alternatieveNaam"/></li>
          {{/if}}
        </ul>
      </div>
    </div>
    <div class="au-o-body-container au-o-box">
      <div class="au-u-margin-top">
        {{outlet}}
      </div>
    </div>
  </div>
</WithRdfaContext>