<div class="container">
	<div class="container-flex--contain">
		<div class="container-flex--scroll">
			{{wu-widget src=header}}
			{{outlet}}
			{{wu-widget src="//widgets.vlaanderen.be/widget/live/40cd2af0f2fb4ac0bd834c1b7562101f"}}
		</div>
	</div>
</div>
