<div class="mandaten-overview">
  <header class="content-header content-header--large content-header--alt">
    <div class="content-header__wrapper">
      <picture class="content-header__bg">
        <img sizes="100vw" src="/assets/images/banner-bruges.jpg" srcset="/assets/images/banner-bruges-320.jpg 320w, /assets/images/banner-bruges-1024.jpg 1024w, /assets/images/banner-bruges-1600.jpg 1600w" alt="" title="">
      </picture>
      <div class="layout layout--wide">
        <div class="content-header__content">
          <div class="content-header__logo-wrapper">
            <h1 class="content-header__entity-logo content-header__entity-logo">
              <span class="content-header__entity-logo__title">Mandatendatabank</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="region">

    {{bestuursorgaan-search-wizard model=model
      searchTask=searchWerkingsgebied
      selectedBestuurseenheidId=bestuurseenheidId
      selectedBestuursorgaanId=bestuursorgaanId
      onListBestuurseenheden=(action "listBestuurseenheden")
      onListBestuursorganen=(action "listBestuursorganen")
      onViewBestuursorgaan= (action "viewBestuursorgaan")
    }}

    <div class="layout layout--wide u-spacer--tb--large">
      <div class="u-hr u-hr--label u-hr--label--centered">
        <label>of</label>
      </div>
    </div>
    <div class="layout layout--wide">
      <div class="grid u-spacer--tb--large">
        <div class="col--8-12 col--12-12--s">
          <h2 class="h3">Download mandatendatabank</h2>
        </div>
        <div class="col--4-12 col--12-12--s u-align-right--medium-up">
          <!-- TODO bestuursperiode select here -->
        </div>
      </div>
      <div class="grid">
        <div class="col--4-12 col--12-12--s">
          {{wu-document-miniature class="u-spacer--bottom" type="CSV"
              label="CSV: voor spreadsheet editors zoals Excel of Numbers."
              metadata="CSV - 3.6MB" onClick=(action "download" '/files/mandaten.csv')}}
        </div>
        <div class="col--4-12 col--12-12--s">
          {{wu-document-miniature class="u-spacer--bottom" type="JSON"
              label="JSON: voor spreadsheet editors zoals Excel of Numbers."
              metadata="JSON - 31MB" onClick=(action "download" '/files/mandaten.json')}}
        </div>
        <div class="col--4-12 col--12-12--s">
          {{wu-document-miniature class="u-spacer--bottom" type="Turtle"
              label="Turtle: voor spreadsheet editors zoals Excel of Numbers."
              metadata="Turtle - 25MB" onClick=(action "download" '/files/mandaten.ttl')}}
        </div>
      </div>
      <p>Mail naar
        <a href="mailto:mandaten@vlaanderen.be">mandaten@vlaanderen.be</a> voor meer informatie, of surf naar
        <a href="http://www.binnenland.vlaanderen.be" target="_blank">www.binnenland.vlaanderen.be</a>.</p>
    </div>
  </div>

  <footer class="u-border--top u-padding--tb--large">
    <div class="layout layout--wide">
      <p class="u-spacer">footer not received yet</p>
    </div>
  </footer>
</div>
